* {
    margin: 0;
    padding: 0;
    /* font-family: "SimSun", "宋体", serif; */
  }
  
.Vue-Toastification__toast--default.my-toast {
  background-color: rgb(49, 112, 175) !important;
  /* width: 200px !important; */
  min-width: 200px !important;
  height: 20px !important;
  min-height: 20px !important;
  font-family: 'SimSun', '宋体', serif !important;
  border-radius: 4px;
  align-items: center;
}